<div id="MainBox">
	<div id="Salute">
		Bem Vindo <%=@manager.nickname%>_
	</div>
	
	<div id="Box" class="Passagem">
		<h1><%=image_tag("tit_passagem.gif")%></h1>
		<%if @manager.tickets.first%>
			<%if !@manager.obs.blank?%>
				<div id="Warning">
					<%=@manager.obs%>
				</div>
			<%end%>
			
			<label><strong>Ida:</strong></label><br />
			 <br />
			<label>Voo:</label><%=@manager.tickets.first.ida_voo%><br />
			 <br />
			<label>DE:</label> <%=@manager.tickets.first.ida_origem%> <%=@manager.tickets.first.ida_data.strftime("%d/%m/%Y")%> / <%=@manager.tickets.first.ida_horario_saida.strftime("%H:%M")%> <br />
			 <br />
			<label>PARA:</label> <%=@manager.tickets.first.ida_destino%> <%=@manager.tickets.first.ida_data.strftime("%d/%m/%Y")%> / <%=@manager.tickets.first.ida_horario_chegada.strftime("%H:%M")%> <br />
			 <br />
			<br />
		
			<label><strong>Volta:</strong></label><br />
			<br />
			<label>Voo:</label><%=@manager.tickets.first.vinda_voo%><br />
			 <br />
			<label>DE:</label> <%=@manager.tickets.first.vinda_origem%> <%=@manager.tickets.first.vinda_data.strftime("%d/%m/%Y")%> / <%=@manager.tickets.first.vinda_horario_saida.strftime("%H:%M")%> <br />
			 <br />
			<label>PARA:</label> <%=@manager.tickets.first.vinda_destino%> <%=@manager.tickets.first.vinda_data.strftime("%d/%m/%Y")%> / <%=@manager.tickets.first.vinda_horario_chegada.strftime("%H:%M")%> <br />
			 <br />
			<label>Cód. de Reserva: </label> <%=@manager.tickets.first.codigo_reserva%> / <label>E-Ticket: </label> <%=@manager.tickets.first.e_ticket%><br />

			 <br />
			<span><%=link_to(image_tag("bt_print.gif"), print_home_index_path, :target => "_blank") if !@manager.tickets.first.passagem.blank?%></span>
	
			
		<%end%>
	</div>
	
	<div id="Box" class="Hospedagem">
		<h1><%=image_tag("tit_hospedagem.gif")%></h1>
		
		<label>hotel:</label> Tauá Hotel & Convention Atibaia <br /> <br />
		<label>Cidade:</label> Atibaia <label>Estado:</label> SP <br /> <br />
		<label>Quarto:</label> <%=@manager.hostings.first.bedroom %> <br /> <br />
		<label>Check-in:</label> 24/08 às 15h00 <br /> <br />
		<label>Check-out:</label> 25/08 às 12h00 <br /> <br />
		<label>Almoço e Jantar:</label> 24 a 25/08 / 13h00 e 20h00 <br /> <br />
		<label>Coffee Break (tarde):</label> 25/08 / 16h00 <br /> <br />
		<label>Informações:</label><br /> http://www.taua.com.br/atibaia/ <br />
		<br />
		<br />
			<i>
				*Em caso de dúvidas, contate nosso suporte através do email: <a href='mailto:suporte@gestoresdeinformacao.com.br'>suporte@gestoresdeinformacao.com.br</a> 
				Ou através do telefone 11 2427.8880 (Bruno)
			</i>
	</div>
	
	<div class="clear"></div>
</div>