<% title "Tickets" %>

<table>
  <tr>
	<th>Passageiro</th>
    <th>Cidade</th>
	<th>Ida</th>
	<th>Volta</th>
	<th>Reserva</th>
	<th>E-Ticket</th>
	<th>Passagem PDF</th>
	<th colspan="3">Ações</th>
  </tr>
  <% for ticket in @tickets %>
    <tr>
      <td><%= ticket.manager.name %></td>
		<td><%= ticket.cidade %></td>
		<td><%= ticket.ida_data %> às <%= ticket.ida_horario_saida %> de <%= ticket.ida_origem %> à <%= ticket.ida_destino %> Voo: <%= ticket.ida_voo %></td>
		<td><%= ticket.vinda_data %> às <%= ticket.vinda_horario_saida %> de <%= ticket.vinda_origem %> à <%= ticket.vinda_destino %> Voo: <%= ticket.vinda_voo %></td>
		<td><%= ticket.codigo_reserva %></td>
		<td><%= ticket.e_ticket %></td>
		<td><%= link_to("PDF",ticket.passagem.url, :target => "_blank") %></td>
      <td><%= link_to "Show", manager_ticket_path(@manager, ticket) %></td>
      <td><%= link_to "Edit", edit_manager_ticket_path(@manager, ticket) %></td>
      <td><%= link_to "Destroy", manager_ticket_path(@manager, ticket), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%if @tickets.count < 1%>
<p><%= link_to "New Ticket", new_manager_ticket_path %></p>
<%end%>
