<%content_for :head do%>
	<%= javascript_include_tag "jquery" %>
	
	<script>
		$(document).ready(function(){
			
		});
		
		
		function Next(x)
		{
			$("#Perguntas1").hide();
			$("#Perguntas2").hide();
			$("#Perguntas3").hide();
			
			$("#Perguntas" + x).show();
		}
	</script>
<%end%>

<div id="MainBox">
	<div id="Salute">
		Bem Vindo <%=@manager.nickname%>_
	</div>
	
	<div id="Box" class="Survey">
		<%form_for @survey do |f|%>
		<h1><%=image_tag("tit_survey.gif")%></h1>
		
		<div id="Perguntas1" style="display:inline;">
			<div id="Box" class="Passagem" style="margin:0px !important;">
					<h2>Pré Evento</h2>
					<p>
						Como você avalia o evento nos seguintes itens:<br>
						<b style="color:red;">ATENÇÃO: TODOS OS ITENS SÃO OBRIGATÓRIOS!</b>
					</p>
					<br>

					<label>Agendamento do evento</label><br>
					<%=f.radio_button :agendamento_do_evento, "1"%> 1
					<%=f.radio_button :agendamento_do_evento, "2"%> 2
					<%=f.radio_button :agendamento_do_evento, "3"%> 3
					<%=f.radio_button :agendamento_do_evento, "4"%> 4
					<%=f.radio_button :agendamento_do_evento, "5"%> 5

					<br><br>

					<label>Informações sobre o evento</label><br>
					<%=f.radio_button :informacoes_sobre_o_evento, "1"%> 1
					<%=f.radio_button :informacoes_sobre_o_evento, "2"%> 2
					<%=f.radio_button :informacoes_sobre_o_evento, "3"%> 3
					<%=f.radio_button :informacoes_sobre_o_evento, "4"%> 4
					<%=f.radio_button :informacoes_sobre_o_evento, "5"%> 5

					<br><br>

					<label>Hot-site</label><br>
					<%=f.radio_button :hotsite, "1"%> 1
					<%=f.radio_button :hotsite, "2"%> 2
					<%=f.radio_button :hotsite, "3"%> 3
					<%=f.radio_button :hotsite, "4"%> 4
					<%=f.radio_button :hotsite, "5"%> 5

					<br><br>

					<label>Sistema de acesso de dados pessoais no hot-site</label><br>
					<%=f.radio_button :sistema_de_acesso_de_dados_pessoais_no_hotsite, "1"%> 1
					<%=f.radio_button :sistema_de_acesso_de_dados_pessoais_no_hotsite, "2"%> 2
					<%=f.radio_button :sistema_de_acesso_de_dados_pessoais_no_hotsite, "3"%> 3
					<%=f.radio_button :sistema_de_acesso_de_dados_pessoais_no_hotsite, "4"%> 4
					<%=f.radio_button :sistema_de_acesso_de_dados_pessoais_no_hotsite, "5"%> 5

					<br><br>

					<label>Transporte (voos e transfers)</label><br>
					<%=f.radio_button :transporte, "1"%> 1
					<%=f.radio_button :transporte, "2"%> 2
					<%=f.radio_button :transporte, "3"%> 3
					<%=f.radio_button :transporte, "4"%> 4
					<%=f.radio_button :transporte, "5"%> 5

					<br><br>

					<label>Suporte telefônico</label><br>
					<%=f.radio_button :suporte_telefonico, "1"%> 1
					<%=f.radio_button :suporte_telefonico, "2"%> 2
					<%=f.radio_button :suporte_telefonico, "3"%> 3
					<%=f.radio_button :suporte_telefonico, "4"%> 4
					<%=f.radio_button :suporte_telefonico, "5"%> 5

					<br><br>

					<label>Acompanhamento telefônico (RSVP)</label><br>
					<%=f.radio_button :acompanhamento_telefonico, "1"%> 1
					<%=f.radio_button :acompanhamento_telefonico, "2"%> 2
					<%=f.radio_button :acompanhamento_telefonico, "3"%> 3
					<%=f.radio_button :acompanhamento_telefonico, "4"%> 4
					<%=f.radio_button :acompanhamento_telefonico, "5"%> 5
			</div>

			<div id="Box" class="Hospedagem" style="margin:0px !important;">
				<label>Reserva de quartos (divisão de companheiros de quarto)</label><br>
				<%=f.radio_button :reserva_de_quarto, "1"%> 1
				<%=f.radio_button :reserva_de_quarto, "2"%> 2
				<%=f.radio_button :reserva_de_quarto, "3"%> 3
				<%=f.radio_button :reserva_de_quarto, "4"%> 4
				<%=f.radio_button :reserva_de_quarto, "5"%> 5

				<br><br>

				<label>Existe algum item relativo ao pré-evento que não tenha sido considerado nesta avaliação e que gostaria de comentar?</label><br>
				<%=f.text_area :dissertativa1, :style => "width:100%; height:70px;"%>

				<br><br>
				
				<%=link_to(image_tag("bt_prox.gif"), "javascript:Next(2);")%>
			</div>
		</div>
		
		<div id="Perguntas2" style="display:none;">
			<div id="Box" class="Passagem" style="margin:0px !important;">
					<h2>Evento</h2>
					<p>Como você avalia o evento nos seguintes itens:</p>
					<br>
					
					<h3>Confraternização (24/08)</h3>
					<label>Jantar</label><br>
					<%=f.radio_button :jantar, "1"%> 1
					<%=f.radio_button :jantar, "2"%> 2
					<%=f.radio_button :jantar, "3"%> 3
					<%=f.radio_button :jantar, "4"%> 4
					<%=f.radio_button :jantar, "5"%> 5

					<br><br>
					
					<label>Bebidas</label><br>
					<%=f.radio_button :bebidas, "1"%> 1
					<%=f.radio_button :bebidas, "2"%> 2
					<%=f.radio_button :bebidas, "3"%> 3
					<%=f.radio_button :bebidas, "4"%> 4
					<%=f.radio_button :bebidas, "5"%> 5

					<br><br>
					
					<label>Música</label><br>
					<%=f.radio_button :musica, "1"%> 1
					<%=f.radio_button :musica, "2"%> 2
					<%=f.radio_button :musica, "3"%> 3
					<%=f.radio_button :musica, "4"%> 4
					<%=f.radio_button :musica, "5"%> 5

					<br><br>
					
					<label>DJ</label><br>
					<%=f.radio_button :dj, "1"%> 1
					<%=f.radio_button :dj, "2"%> 2
					<%=f.radio_button :dj, "3"%> 3
					<%=f.radio_button :dj, "4"%> 4
					<%=f.radio_button :dj, "5"%> 5

					<br><br>
					
					<h3>Hospedagem (hotel e quartos)</h3>
					<label>Café da Manhã</label><br>
					<%=f.radio_button :cafe_da_manha, "1"%> 1
					<%=f.radio_button :cafe_da_manha, "2"%> 2
					<%=f.radio_button :cafe_da_manha, "3"%> 3
					<%=f.radio_button :cafe_da_manha, "4"%> 4
					<%=f.radio_button :cafe_da_manha, "5"%> 5

					<br><br>
					
					<label>Almoço</label><br>
					<%=f.radio_button :almoco, "1"%> 1
					<%=f.radio_button :almoco, "2"%> 2
					<%=f.radio_button :almoco, "3"%> 3
					<%=f.radio_button :almoco, "4"%> 4
					<%=f.radio_button :almoco, "5"%> 5

					<br><br>
			</div>

			<div id="Box" class="Hospedagem" style="margin:0px !important;">
				<h3>Brindes</h3>
				<label>Necessaire</label><br>
				<%=f.radio_button :necessaire, "1"%> 1
				<%=f.radio_button :necessaire, "2"%> 2
				<%=f.radio_button :necessaire, "3"%> 3
				<%=f.radio_button :necessaire, "4"%> 4
				<%=f.radio_button :necessaire, "5"%> 5

				<br><br>
				
				<label>Caneca</label><br>
				<%=f.radio_button :caneca, "1"%> 1
				<%=f.radio_button :caneca, "2"%> 2
				<%=f.radio_button :caneca, "3"%> 3
				<%=f.radio_button :caneca, "4"%> 4
				<%=f.radio_button :caneca, "5"%> 5

				<br><br>
				
				<label>Copo volt (fluorescente)</label><br>
				<%=f.radio_button :copo_volt, "1"%> 1
				<%=f.radio_button :copo_volt, "2"%> 2
				<%=f.radio_button :copo_volt, "3"%> 3
				<%=f.radio_button :copo_volt, "4"%> 4
				<%=f.radio_button :copo_volt, "5"%> 5

				<br><br>
				
				<label>Camiseta</label><br>
				<%=f.radio_button :camiseta, "1"%> 1
				<%=f.radio_button :camiseta, "2"%> 2
				<%=f.radio_button :camiseta, "3"%> 3
				<%=f.radio_button :camiseta, "4"%> 4
				<%=f.radio_button :camiseta, "5"%> 5

				<br><br>
				
				<label>Fotografia com moldura</label><br>
				<%=f.radio_button :fotografia_com_moldura, "1"%> 1
				<%=f.radio_button :fotografia_com_moldura, "2"%> 2
				<%=f.radio_button :fotografia_com_moldura, "3"%> 3
				<%=f.radio_button :fotografia_com_moldura, "4"%> 4
				<%=f.radio_button :fotografia_com_moldura, "5"%> 5

				<br><br>
				
				<h3>Programação (horários)</h3>
				<label>Apresentação Carol</label><br>
				<%=f.radio_button :apresentacao_carol, "1"%> 1
				<%=f.radio_button :apresentacao_carol, "2"%> 2
				<%=f.radio_button :apresentacao_carol, "3"%> 3
				<%=f.radio_button :apresentacao_carol, "4"%> 4
				<%=f.radio_button :apresentacao_carol, "5"%> 5

				<br><br>
				
				<label>Treinamento Neogrid</label><br>
				<%=f.radio_button :treinamento_neogrid, "1"%> 1
				<%=f.radio_button :treinamento_neogrid, "2"%> 2
				<%=f.radio_button :treinamento_neogrid, "3"%> 3
				<%=f.radio_button :treinamento_neogrid, "4"%> 4
				<%=f.radio_button :treinamento_neogrid, "5"%> 5

				<br><br>
				
				<%=link_to(image_tag("bt_ant.gif"), "javascript:Next(1);", :style => "float:left;")%>
				<%=link_to(image_tag("bt_prox.gif"), "javascript:Next(3);", :style => "float:right;")%>
			</div>
		</div>
		
		<div id="Perguntas3" style="display:none;">
			<div id="Box" class="Passagem" style="margin:0px !important;">
				
				<label>Treinamento Neogrid</label><br>
				<%=f.radio_button :treinamento_neogrid, "1"%> 1
				<%=f.radio_button :treinamento_neogrid, "2"%> 2
				<%=f.radio_button :treinamento_neogrid, "3"%> 3
				<%=f.radio_button :treinamento_neogrid, "4"%> 4
				<%=f.radio_button :treinamento_neogrid, "5"%> 5

				<br><br>
				
				<label>Entrega de troféus</label><br>
				<%=f.radio_button :entrega_de_trofeus, "1"%> 1
				<%=f.radio_button :entrega_de_trofeus, "2"%> 2
				<%=f.radio_button :entrega_de_trofeus, "3"%> 3
				<%=f.radio_button :entrega_de_trofeus, "4"%> 4
				<%=f.radio_button :entrega_de_trofeus, "5"%> 5

				<br><br>
				
				<label>Identidade visual do evento</label><br>
				<%=f.radio_button :identidade_visual_do_evento, "1"%> 1
				<%=f.radio_button :identidade_visual_do_evento, "2"%> 2
				<%=f.radio_button :identidade_visual_do_evento, "3"%> 3
				<%=f.radio_button :identidade_visual_do_evento, "4"%> 4
				<%=f.radio_button :identidade_visual_do_evento, "5"%> 5

				<br><br>
				
				<label>Troféu</label><br>
				<%=f.radio_button :trofeu, "1"%> 1
				<%=f.radio_button :trofeu, "2"%> 2
				<%=f.radio_button :trofeu, "3"%> 3
				<%=f.radio_button :trofeu, "4"%> 4
				<%=f.radio_button :trofeu, "5"%> 5

				<br><br>
				
				<label>Banners de auditório</label><br>
				<%=f.radio_button :banners_de_auditorio, "1"%> 1
				<%=f.radio_button :banners_de_auditorio, "2"%> 2
				<%=f.radio_button :banners_de_auditorio, "3"%> 3
				<%=f.radio_button :banners_de_auditorio, "4"%> 4
				<%=f.radio_button :banners_de_auditorio, "5"%> 5

				<br><br>
				
				<h3>Crachás</h3>
				<label>Lista de contatos no verso</label><br>
				<%=f.radio_button :lista_de_contatos_no_verso, "1"%> 1
				<%=f.radio_button :lista_de_contatos_no_verso, "2"%> 2
				<%=f.radio_button :lista_de_contatos_no_verso, "3"%> 3
				<%=f.radio_button :lista_de_contatos_no_verso, "4"%> 4
				<%=f.radio_button :lista_de_contatos_no_verso, "5"%> 5

				<br><br>
				
				<label>Número do quarto no verso</label><br>
				<%=f.radio_button :numero_de_quarto_no_verso, "1"%> 1
				<%=f.radio_button :numero_de_quarto_no_verso, "2"%> 2
				<%=f.radio_button :numero_de_quarto_no_verso, "3"%> 3
				<%=f.radio_button :numero_de_quarto_no_verso, "4"%> 4
				<%=f.radio_button :numero_de_quarto_no_verso, "5"%> 5

				<br><br>
				
				<label>Cores de identificação de região</label><br>
				<%=f.radio_button :cores_de_identificacao_de_regiao, "1"%> 1
				<%=f.radio_button :cores_de_identificacao_de_regiao, "2"%> 2
				<%=f.radio_button :cores_de_identificacao_de_regiao, "3"%> 3
				<%=f.radio_button :cores_de_identificacao_de_regiao, "4"%> 4
				<%=f.radio_button :cores_de_identificacao_de_regiao, "5"%> 5

				<br><br>
			</div>

			<div id="Box" class="Hospedagem" style="margin:0px !important;">
				
				
				<label>Existe algum item relativo ao evento que não tenha sido considerado nesta avaliação e que gostaria de comentar?</label><br>
				<%=f.text_area :dissertativa2, :style => "width:100%; height:50px;"%>
				
				<br><br>
				
				<label>Em linhas gerais, como você avaliaria o 1º Encontro dos Gestores de Informação?</label><br>
				<%=f.text_area :dissertativa3, :style => "width:100%; height:50px;"%>
				
				<br><br>
				
				<label>Existe alguma observação ou comentário adicional referente ao evento?</label><br>
				<%=f.text_area :dissertativa4, :style => "width:100%; height:50px;"%>
				
				<br><br>
				
				<%=link_to(image_tag("bt_ant.gif"), "javascript:Next(1);", :style => "float:left;")%>
				<%=image_submit_tag("bt_finalizar.gif")%>
			</div>
		</div>
		
		<%end%>
	</div> 
	
	<div class="clear"></div>
</div>