<!DOCTYPE html>
<html>
<head>
  <title>1º Encontro de Gestores da Informação</title>
  <%= stylesheet_link_tag "template" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10816424-10']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="TopBar"></div>
<div id="LogoAccess"><%=image_tag("logo_access.png")%></div>
<%= yield %>
<%=render :file => "layouts/_footer.html.erb"%>
</body>
</html>
